body {
    font-family: Arial, sans-serif;
    background-color: #f89;
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: blue;
}

form input, form textarea {
    display: block;
    margin-bottom: 10px;
}
